.right-hero-wrap {
	background-image: url('../../../assets/illustrations/level-up.png');
	background-position: center;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
