.menu-icon {
	display: none;
}
/* nav.css */
.active-link {
	@apply text-neon-blue font-bold;
}

@media screen and (max-width: 900px) {
	.menu-ul,
	.account-cta {
		display: none;
	}

	.collapsible .menu-ul.active,
	.collapsible .account-cta.active {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.menu-icon {
		display: block;
		cursor: pointer;
	}
}
